@page
@model Labajo_WebApp.Pages.MyPages.ViewImage.Desktop.V_HomeT3Model
@{
    <div class="cantainer-lg">
        <div class="row">
            <div class="col-lg-12 my-3">
                <a class="text-dark fw-bold" asp-area="" asp-page="/MyPages/Desktop">
                    <div class="btn btn-outline-primary btn-lg px-lg-5 px-sm-3">Back</div>
                </a>
                <div class="col-lg-12 my-3 text-center">
                    <img src="~/images/Desktop/KRELIEN HOME T3.png" class="img-fluid shadow" />
                </div>
            </div>
        </div>
    </div>
}
