@page
@model laptopsModel
@{
    <div class="display-3 fw-bold text-center py-1">LAPTOP</div>

            @*laptop*@
    <div class="container my-5">
        <div class="row justify-content-center justify-content-lg-center justify-content-md-center">
                <div class="col-sm-12 col-md-6 col-lg-4 mb-5 mt-5">
                        <div class="card border-0">
                            <div class="text-center mt-3">
                                <p class="lead fw-bold">Galaxy T5</p>
                            </div>
                            <div class="card-body text-center">
                                     <a class="text-dark fw-bold" asp-area="" asp-page="/MyPages/ViewImage/Laptop/GalaxyG7">
                                        <img src="~/images/Laptop/GALAXY T5.png" class="img-fluid mb-3 shadow product-size" /> 
                                     </a>
                        <p class="Lead fw-bold my-2">&#8369; 42,000.00</p>
                         <!-- Button trigger modal -->
                                <div class="row justify-content-between px-2 py-2">
                                     <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                       View Specs
                                      </button>

                                <!-- Normal Button -->  
                                    <button type="button" class="btn btn-outline-primary mt-2">
                                   Add to Cart

                                </button>
                                <button type="button" class="btn btn-outline-primary mt-2">
                                    Buy Now!
                                </button>
                                </div>

                                <!-- Modal -->
                                 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                      <div class="modal-content">
                                         <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">GALAXY T5</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                         </div>

                                          <div class="modal-body">
                                            <img src="~/images/Laptop/GALAXY T5-SPECS.png" class="img-fluid"/>

                                          </div>

                                          <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                                    </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                        </div>
                    </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-5 mt-5">
                <div class="card border-0">
                    <div class="text-center mt-3">
                            <p class="lead fw-bold">LIGHT MV5</p>
                    </div>
                    <div class="card-body text-center">
                        <a class="text-dark fw-bold" asp-area="" asp-page="/MyPages/ViewImage/Laptop/Light">
                            <img src="~/images/Laptop/KEY _LIGHT_ MV5.png" class="img-fluid mb-3 shadow product-size" />
                        </a>
                        <p class="Lead fw-bold my-2">&#8369; 68,999.00</p>

                        <!-- Button trigger modal -->
                        <div class="row justify-content-between px-2 py-2">
                            <div class=""></div>
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                View Specs
                            </button>

                            <!-- Normal Button -->
                            <button type="button" class="btn btn-outline-primary mt-2">
                                Add to Cart

                            </button>
                            <button type="button" class="btn btn-outline-primary mt-2">
                                Buy Now!
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">LIGHT MV5</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        <img src="~/images/Laptop/mv5-specs.png" class="img-fluid" />

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-5 mt-5">
                    <div class="card border-0">
                        <div class="text-center mt-3">
                            <p class="lead fw-bold">NITMO G7</p>
                        </div>
                        <div class="card-body text-center">
                            <a class="text-dark fw-bold" asp-area="" asp-page="/MyPages/ViewImage/Laptop/NitmoG7">
                            <img src="~/images/Laptop/NITMO G7.png" class="img-fluid mb-3 shadow product-size" />
                            </a>
                        <p class="Lead fw-bold my-2">&#8369; 65,950.00</p>
                            <!-- Button trigger modal -->
                            <div class="row justify-content-between px-2 py-2">
                                <div class=""></div>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                                    View Specs
                                </button>

                                <!-- Normal Button -->
                                <button type="button" class="btn btn-outline-primary mt-2">
                                    Add to Cart

                                </button>
                                <button type="button" class="btn btn-outline-primary mt-2">
                                    Buy Now!
                                </button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">NITMO G7</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body">
                                            <img src="~/images/Laptop/NITMO G7-Specs.png" class="img-fluid" />

                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-5 mt-5 mx-2 ">
                    <div class="card border-0">
                        <div class="text-center mt-3">
                            <p class="lead fw-bold">WOLF SPEED</p>
                        </div>
                        <div class="card-body text-center">
                            <a class="text-dark fw-bold" asp-area="" asp-page="/MyPages/ViewImage/Laptop/WolfSpeed">
                            <img src="~/images/Laptop/WOLF SPEED.png" class="img-fluid mb-3 shadow product-size" />
                            </a>
                        <p class="Lead fw-bold my-2">&#8369; 62,999.00</p>
                            <!-- Button trigger modal -->
                            <div class="row justify-content-between px-2 py-2">

                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                                        View Specs
                                    </button>

                                <!-- Normal Button -->
                                
                                    <button type="button" class="btn btn-outline-primary mt-2"> Add to Cart </button>
                                    <button type="button" class="btn btn-outline-primary mt-2">Buy Now!</button>
                               
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">WOLF SPEED</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body">
                                            <img src="~/images/Laptop/WOLF SPEED-Specs.png" class="img-fluid" />

                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
         </div>
}
