@page
@model Labajo_WebApp.Pages.MyPages.PrinterModel
@{
    <div class="display-3 fw-bold text-center py-1">PRINTER</div>
    <div class="container my-5">
        <div class="row justify-content-center justify-content-lg-center justify-content-md-center">
            <div class="col-sm-12 col-md-6 col-lg-5 mb-5 mt-5">
                <div class="card border-0">
                    <div class="text-center mt-3">
                        <p class="lead fw-bold">KRELIEN PRINTER L320</p>
                    </div>
                    <div class="card-body text-center">
                        <a class="text-dark fw-bold" asp-area="" asp-page="/MyPages/ViewImage/Printer/V-P-L320">
                            <img src="~/images/Printer/L320.png" class="img-fluid mb-3 product-size" />
                        </a>
                        <p class="Lead fw-bold my-2">&#8369; 14,500.00</p>

                        <!-- Button trigger modal -->
                        <div class="row justify-content-between px-2 py-2">
                            <div class=""></div>
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                View Specs
                            </button>

                            <!-- Normal Button -->
                            <button type="button" class="btn btn-outline-primary mt-2">
                                Add to Cart

                            </button>
                            <button type="button" class="btn btn-outline-primary mt-2">
                                Buy Now!
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">KRELIEN PRINTER L320</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        <img src="~/images/Printer/L320 -specs.png" class="img-fluid" />

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-5 mb-5 mt-5">
                <div class="card border-0">
                    <div class="text-center mt-3">
                        <p class="lead fw-bold">KRELIEN PRINTER MV-0320</p>
                    </div>
                    <div class="card-body text-center">
                        <a class="text-dark fw-bold" asp-area="" asp-page="/MyPages/ViewImage/Printer/V-P-0320">
                            <img src="~/images/Printer/MY0320.png" class="img-fluid mb-3 product-size" />
                        </a>
                        <p class="Lead fw-bold my-2">&#8369; 15,300.00</p>

                        <!-- Button trigger modal -->
                        <div class="row justify-content-between px-2 py-2">
                            <div class=""></div>
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                View Specs
                            </button>

                            <!-- Normal Button -->
                            <button type="button" class="btn btn-outline-primary mt-2">
                                Add to Cart

                            </button>
                            <button type="button" class="btn btn-outline-primary mt-2">
                                Buy Now!
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">KRELIEN PRINTER MV-0320</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        <img src="~/images/Printer/MY0320-SPECS.png" class="img-fluid" />

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
}
