html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

html {
  position: relative;
  min-height: 100%;

}

body {
  margin-bottom: 60px;
  background-color:rgba(0,0,0,0.1);
}
#image_border {
    /*x-off y-off blur spread color*/
    box-shadow:0px 0px 50px 0px rgba(0,0,255,0.3);
    border-radius:10px;
    transition:0.5s;
    filter:grayscale(30%);
}
#image_border:hover{
    filter:none;
}
#icons {
    width: 7rem;
    height: 3rem;
    transition:all 0.4s;
}
#icons:hover {
    transform: scale(1.05);
    }

#icons_product {
    width: 10rem;
    height: 8rem;

}

/*Carousel*/
.c_item{
height:100%;
}
.c_img {
    height: 100%;
    object-fit: contain;
}
.product-size {
    width: 12rem;
    height: 10rem;
}

.search-bar {
    width: 100%;
    height: 36px;
    padding: 10px;
    padding-left: 20px;
    display: inline;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    outline-color: seagreen;
    border: none;
}
#btn-search {
    width:100%;
    border-end-end-radius:20px;
}
.card{  
    transition: all 0.4s;
  
}  
.card:hover {
    box-shadow: 0px 0px 10px 1px #0026ff inset;
}

 .hide-text{
     font-size:2px;
     visibility:hidden;
     display:block;
     scroll-margin-bottom:0;
 }
 

/*------------ Login container ------------*/

.box-area {
    width: 930px;
}

/*------------ Right box ------------*/

.right-b    ox {
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder {
    font-size: 16px;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px) {

    .box-area {
        margin: 0 10px;
    }

    .left-box{
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;

    }
   
}

.featured-image {
    width: 100%;
    height:50%;

   
}

#Login_Wallpaper {
    background: url('../images/LoginWallpaper2.jpg') scroll no-repeat center top;
    background-size: cover;
}